/* title */
h1{
    font-family: cursive;
    text-align: center;
}

/* paragraph */
p{
	color: black;
	font-size: 20px
}

/* background */
body {
    font-family: Arial;
    background-color: #AF8A94;
}

ul {
    list-style-type: none;
      margin: 0;
      padding: 0;
    overflow:hidden;
}

li {
    display: inline;
    float:left;
}

li a {
    display: block;
      padding: 8px;
      Background-color: #8D8587; 
}

/*text box sizes*/
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
}

/* background */
.container {
  border-radius: 5px;
  background-color: #DE2758;
  padding: 20px;
}
